@layer base {
  html {
    font-family: system-ui, sans-serif;
    font-weight: normal;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .text-center {
    text-align: center;
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }
}

.mode-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.mode-button {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.board {
  max-width: min(96vw, 96vh);
  margin-inline: auto;
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  aspect-ratio: 1 / 1;
}

.board-cell {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 2px solid #888;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}