@layer base {
  html {
    font-family: system-ui, sans-serif;
    font-weight: normal;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .text-center {
    text-align: center;
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }
}

.mode-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.mode-button {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}